In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
# Set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_mac64.zip
Driver has been saved in cache [/Users/emilyzinn/.wdm/drivers/chromedriver/mac64/92.0.4515.107]

In [3]:
# NASA MARS NEWS- scrape Mars News Site and collect latest news title and paragraph text. Assign text to
# variables for later reference.

In [4]:
time.sleep(2)

news_url = 'https://redplanetscience.com'

browser.visit(news_url)
html= browser.html
news_soup = bs(html, 'html.parser')

In [5]:
# Retrieve the latest news title and paragraph
n_title = news_soup.find_all('div', class_='content_title')[0].text

n_title

'NASA Establishes Board to Initially Review Mars Sample Return Plans'

In [6]:
n_paragraph = news_soup.find_all('div', class_="article_teaser_body")[0].text

n_paragraph

'The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.'

In [7]:
###### JPL MARS SPACE IMAGES - FEATURED IMAGE ######## 
## Use splinter to navigate the site and find the image url for the current 
##Featured Mars Image and assign the url string to a variable called featured_image_url.

time.sleep(2)

jpl_url = 'https://spaceimages-mars.com/'

browser.visit(jpl_url)

html= browser.html

jpl_soup = bs (html,'html.parser')

In [8]:
# Retrieve featured image link
relative_image_path = jpl_soup.find_all('img', class_='headerimage fade-in')[0]["src"]
featured_image_url = jpl_url + relative_image_path
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [9]:
### MARS FACTS ######
## use Pandas to scrape the table containing facts about the planet 

facts_url = 'https://galaxyfacts-mars.com'

In [10]:
table_df = pd.read_html(facts_url)[1]
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
## use Pandas to convert the data to an HTML table string

html_table = table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
#### MARS HEMISPHERES ####

##save image url string for full res hemisphere image & hemisphere title containing the name. 
###use a python dictionary to store the data using the keys img_url and title

time.sleep(2)

hems_url = 'https://marshemispheres.com/'

browser.visit(hems_url)

hems_html = browser.html

hems_soup = bs(hems_html, 'html.parser')

In [13]:
all_hems= hems_soup.find('div', class_='collapsible results')
mars_hems = all_hems.find_all('div', class_='item')

hems_img_urls = []

#loop through hemispheres to get title and images

for i in mars_hems:
    ##title
    hemisphere = i.find('div', class_='description')
    title = hemisphere.h3.text
    
    ##full res img
    hems_img = hemisphere.a['href']
    browser.visit(hems_url + hems_img)
    
    img_html = browser.html
    img_soup = bs(img_html, 'html.parser')
    
    img_link = img_soup.find('div', class_='downloads')
    img_url = img_link.find('li').a['href']
    
    ##dictionary
    
    img_dict = {
        'Title': title, 
        'Image': img_url
    }
    
    hems_img_urls.append(img_dict)
    
print(hems_img_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image': 'images/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image': 'images/schiaparelli_enhanced-full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image': 'images/syrtis_major_enhanced-full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image': 'images/valles_marineris_enhanced-full.jpg'}]